<!DOCTYPE html>
<html>
    <head>
        <title>Email Spam Classifier</title>
        <style>
            body {
                text-align: center;
            }
        
            button {
                background-color: blue;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Email Spam Classifier</h1>
        <form method="post" action="/predict">
            <textarea rows="15" cols="35" name="email_body" placeholder="Enter your email body">{{ website_text }}</textarea>
            <button>Check Spam</button>
            <a href="/">Reset</a>
        </form>
        <p>
            {% if response==1 %}
                <h2 style="color: red">Spam</h2>
            {% elif response==0 %}
                <h2 style="color: green">Not Spam</h2>
            {% endif %}
        </p>
    </body>
</html>